.modal-container {
    width: 90%; /* Adjust the width as needed */
    max-width: 400px; /* Set a maximum width */
    padding: 1rem; /* Adjust padding */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    position: absolute; /* Set to absolute for positioning with coordinates */
    z-index: 1000; /* Ensure it's above other content */
}

.animate-slide-up {
    animation: slide-up 0.3s ease-out;
}

@keyframes slide-up {
    0% {
        transform: translateY(20px); /* Start from below */
        opacity: 0; /* Invisible at the start */
    }
    100% {
        transform: translateY(0); /* End at the final position */
        opacity: 1; /* Fully visible */
    }
}
